server:
  port: 8088
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mypostgresdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
jwt:
  expiration: 2592000 #30 days = 30 * 24 * 60 * 60
  expiration-refresh-token: 5184000 #60 days = 60 * 24 * 60 * 60
  secretKey: "bXktc3VwZXItc2VjdXJlLXNlY3JldC1rZXktMzJieXRlcy0xMjM0NTY3ODkw"

logging:
  level:
    org:
      springframework.security: DEBUG

# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true
